
.googleLogo{
    text-align: center;
    margin: 20px auto 5px auto;
}
.ust{
    position: absolute;
    left: 10%;
    width: 80%;
}
.main{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto 5px auto;
}
.main .search{
    width: 20%;
}
.main2 div{
    display: inline-block;
}
.main2 .kutu1{
    width: 33.1%;
    background-color: #62b3aa;
    height:90px;
    float:left;
    margin-left: 2px;
    height: 100px;
}
.main2 .kutu1 ul li{
    display:block;
}
.main2 .kutu1 ul li a {
    text-decoration:none;
}
.main2 .kutu1 ul li a:hover {
    color: #0a03d6;
    text-decoration:underline;
}

.footer{
    text-align: center;
}